{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{%  static 'manager/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{%  static 'manager/sb-admin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{%  static 'manager/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- <link href="{% static 'manager/font-awesome.min.css' %}" rel="stylesheet" type="text/css"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body >

  <nav class="navbar navbar-default" id="black">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
         <a class="navbar-brand" href="#">
        <img alt="Brand" src="{% static 'manager/images/lakshya.png'%}" width=50, height=50>
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">Lakshya Foundation</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'enter' %}" style="font-size:25px; padding-top:20px"><strong><-Back</strong></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            NITW Mess Attendance<br> <small> Student Statistics </small>
                        </h1>
                        {% if not attendance %}
                            <h2 style="color: red;"><center>Student has not registered<br></center></h2>
                        {% endif %}
                       
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                <div class="col-lg-6 col-md-6" align="center">
                    <img src="{% static 'manager/images/User-Default.jpg'%}" id="image" >
                </div>
                <div class="col-lg-6 col-md-6">
                    <!-- <p>hello</p> -->
                {% for a in comb%}
                
                 <p style="font-size:18px; text-transform: uppercase;"><span style = "font-size: 20px; font-style:strong; text-transform:uppercase;"><strong>{{a.0}}</strong></span>: {{ a.1 }}</p>
            
                <br>
                {% endfor %}
                </div>
          
                
                
                
                
                </div>
  <br><br><br>
                <div class="row">
                    <div class="col-lg-2" styles = "max-height:40px;">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-10 text-center">
                                        <div class="huge" style="align:center; padding-right:70px">{{ attendance }}</div>
                                        <div style="padding-right:80px;">DAYS ATTENDED</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-10 text-left">
                                        <div class="huge" style="font-size:27px;">{{ lmeal }}</div>
                                        <div >LAST MEAL AT</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-10 text-center">
                                        <div class="huge" style="align:center; padding-right:70px;">{{ streak }}</div>
                                        <div style="padding-right:70px;">ATTENDANCE STREAK</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-10 text-center">
                                        <div class="huge" style ="padding-right:70px;">Rs.{{ dues }}</div>
                                        <div style="padding-right:70px;">MESS DUES</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="panel panel-black" style="background-color:rgba(0,0,0,0.8);">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-10 text-center">
                                        <div class="huge" style="align:center; padding-right:70px;">{{ guest }}</div>
                                        <div style="padding-right:70px;">GUESTS ACCOMPANIED</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="panel panel-purple">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-10 text-center">
                                        <div class="huge" style="align:center; padding-right:80px;">Rs.{{ totdues }}</div>
                                        <div style="padding-right:40px;"><br>TOTAL DUES</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- /.row -->

              

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

</body>

</html>
